{{- $self := . -}}
{{/*
  This variable stores all the page bundles in the blog section. There are three
  where functions achieving this. First where gets all the pages in blog
  section, the second one removes current page from the mix and the last one
  removes the section (.Site.Pages returns the current section as a page). */}}
{{- if and (not .Params.section) (eq .root.CurrentSection.Kind "section") -}}
  {{- .page_scratch.Set "pages" .root.CurrentSection.Pages -}}
  {{- if (ne .Params.subsections false) -}}
    {{- .page_scratch.Add "pages" .root.CurrentSection.Sections -}}
  {{- end -}}
  {{- if .Params.subsection_leaves -}}
    {{- range .root.CurrentSection.Sections -}}
      {{- $self.page_scratch.Add "pages" .Pages -}}
    {{- end -}}
  {{- end -}}
{{- else -}}
  {{- $page := .Site.GetPage "Section" (.Params.section | default .root.Section) -}}
  {{- .page_scratch.Set "pages" $page.Pages -}}
  {{- if (ne .Params.subsections false) -}}
    {{- .page_scratch.Add "pages" $page.Sections -}}
  {{- end -}}
  {{- if .Params.subsection_leaves -}}
    {{- range $page.Sections -}}
      {{- $self.page_scratch.Add "pages" .Pages -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $bg := .Params.background | default "light" }}

{{ "<!-- Blog -->" | safeHTML }}
<section id="{{ .Name }}">
  <div class="overlay container-fluid {{- printf " bg-%s" $bg -}}">
    <div class="container py-5">
      <div class="row mx-2">
        <h4>{{ .Params.title }}</h4>
      </div>
      <div class="row mx-0
        {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
          {{- printf " text-%s" "dark" -}}
        {{- else -}}
          {{- printf " text-muted text-%s" "secondary" -}}
        {{- end -}}
      ">
        <ul>
          {{- range first (.Params.count | default 10) (.page_scratch.Get "pages") -}}
            {{ $self.page_scratch.Set "pages" (slice .) }}
            {{ range .Resources.ByType "page" }}
              {{ $self.page_scratch.Add "pages" . }}
            {{ end }}
            <li>
              {{- if .Params.title -}}
                <a class="text-primary" href="{{ .URL }}">
                  <h5 class="d-inline-block">
                    {{- .Params.title | markdownify -}}
                  </h5>
                </a>
                <span class="float-right">
                  {{- if $self.Params.display_date -}}
                    {{- range first 1 (where ($self.page_scratch.Get "pages") "Params.fragment" "in" "content") -}}
                      {{- partial "helpers/publish-date.html" (dict "root" . "background" $bg) -}}
                    {{- end -}}
                  {{- end -}}
                </span>
              {{- end -}}
            </li>
          {{- end }}
        </ul>
      </div>
    </div>
  </div>
</section>
